# Copyright (c) 2024 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"

rsource "clock_control/Kconfig"
rsource "flash/Kconfig"
rsource "gpio/Kconfig"
rsource "pinctrl/Kconfig"
rsource "regulator/Kconfig"
rsource "reset/Kconfig"
rsource "spi/Kconfig"
rsource "usb/Kconfig"
rsource "watchdog/Kconfig"

endmenu
